body {
	font-family: sans-serif;
}

.info{
	margin-left:3em;
}
.info p{
	margin-bottom:30px;
}
.gist{
	width:640px;
}





#title {
	text-align: center;
}

a:hover {
	background-color: rgba(255, 216, 0,.4);
}
script{
	margin-left:2em;
}

footer {
	text-align: center;
	padding-top: 8px;
	margin-top: 7px;
	border-top: 1px solid #d2d2d7;
	padding-right:10px;
	padding-left:10px;
}
